html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Contenedor principal */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Esto asegura que el footer esté siempre abajo */
}

/* Estilos específicos para la página de contacto */
.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* Para que las tarjetas se ajusten en pantallas pequeñas */
    padding: 20px;
    max-width: 1200px;
    margin: 40px auto;
}

.contact-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.contact-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #fff;
}

.email-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #D44638;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.email-icon:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

.email-icon svg {
    width: 30px;
    height: 30px;
    fill: white;
}

.social-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.social-icons a:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

.social-icons svg {
    width: 30px;
    height: 30px;
}